/* custom fonts
  */

@font-face {
  font-family: "StavokGrotesqueTRIAL-Light";
  src: local("StavokGrotesqueTRIAL-Light"),
    url("./fonts/StavokGrotesqueTRIAL-Light.otf") format(opentype);
}

@font-face {
  font-family: "FixelText-ExtraBold";
  src: local("FixelText-ExtraBold"),
    url("./fonts/FixelText-ExtraBold.woff2") format(woff2);
}

@font-face {
  font-family: "FixelText-Medium";
  src: local("FixelText-Medium"),
    url("./fonts/FixelText-Medium.woff2") format(woff2);
}

/* fonts end here */

/* Global reset */
#root {
  padding: 0;
  margin: 0;
}

.App {
  text-align: left;
  font-family: FixelText-Medium;
}

.center-text {
  text-align: center;
}

.header-app-name {
  padding: 0.5rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  border-radius: 3px;

  color: #021740;
  font-size: xx-large;
  background-color: #d6d4d0;
}

@media (max-width: 575px) {
  .header-app-name {
    font-size: x-large;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }
}

@media (max-width: 370px) {
  .header-app-name {
    font-size: large;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: 1rem;
  }
}

.nav-bar {
  background-color: #021740;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
@media (max-width: 370px) {
  .flex {
    gap: 1rem;
  }
}

.main-dropdown {
  margin: 0px 2rem;
}

@media (max-width: 500px) {
  .main-dropdown {
    margin-right: 1rem;
  }
}

@media (max-width: 575px) {
  button.btn.btn-secondary {
    padding: 0.6rem;
    margin-top: 0.5rem;
  }
}

@media (max-width: 370px) {
  button.btn.btn-secondary {
    padding: 0.09rem;
    margin-top: 0.4rem;
  }
}

/* Accordion styling */

.accordion {
  font-size: 1.2rem;
}

.acc-header {
  font-weight: bold;
  font-size: 1.3rem;
}
div.accordion-item {
  border: none;
}

.accordion-header .accordion-button:focus {
  background-color: #768fab;
  color: #fff;
  opacity: 0.9;
}

.accordion-header .accordion-button:not(:focus) {
  background-color: #768fab;
  color: #fff;
  opacity: 0.9;
}

/* need to get back to this to figure out a way to change the color of that pseudo element */
accordion-button::after {
  background-color: #000;
  border-color: #000;
}

/* font styling classes that will be shared with other components across the app but live in accordion styling */

.fixel-font {
  font-family: FixelText-Medium;
}

.default-font {
  font-family: StavokGrotesqueTRIAL-Light;
}
/* Accordion styling */

/* links and buttons */

button.navbar-button {
  padding-left: 0.5rem;
  padding-right: 0.3rem;
  background-color: #d6d4d0;
}

button.btn.btn-primary > a:link {
  color: #fff;
}

button.btn.btn-primary > a:visited {
  color: #fff;
}

button.navbar-button.btn.btn-secondary:hover {
  background-color: #768fab;
}

button.navbar-button.btn.btn-secondary:active {
  background-color: #768fab;
}

button.navbar-button.btn.btn-secondary:focus {
  background-color: #768fab;
}

button.submit {
  background-color: #021740;
  color: #fff;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: 2.7rem;
}

@media screen and (max-width: 576px) {
  button.submit.btn.btn-secondary {
    padding: 0.5rem 1rem 0.5rem;
    margin-top: 2rem;
  }
}

button.submit:active {
  background-color: #d6d4d0;
  color: #021740;
}

button.submit:hover {
  background-color: #768fab;
  color: #021740;
}

button.submit:focus {
  background-color: #d6d4d0;
  font-size: large;
  color: #021740;
}
/*  */

.app-info-1 {
  color: #768fab;
  padding: 0;
  font-size: 1.25rem;
  font-family: StavokGrotesqueTRIAL-Light;
}

.app-info-2 {
  color: #768fab;
  opacity: 0.9;
  font-family: FixelText-ExtraBold;
  text-transform: uppercase;
}

/* headers */

.new-us {
  font-size: 6.24rem;
  color: #021740;
  margin-top: 5.5rem;
  margin-bottom: 1px;
}

@media (max-width: 575px) {
  .new-us {
    font-size: 4rem;
    margin-top: 4rem;
  }
}

@media (max-width: 370px) {
  .new-us {
    font-size: 3rem;
    margin-top: 3.25rem;
  }
}

.dont-stress {
  font-size: 3.25rem;
  color: #021740;
}

@media (max-width: 370px) {
  .dont-stress {
    font-size: 2.3rem;
    margin-top: 2rem;
  }
}

.large-font-quick-answers {
  color: #768fab;
  font-size: 2.38rem;
}

@media (max-width: 370px) {
  .large-font-quick-answers {
    font-size: 1.8rem;
  }
}

.dark-blue {
  color: #021740;
  font-size: 3.25rem;
}

@media (max-width: 575px) {
  .dark-blue {
    font-size: 3rem;
  }
}

@media (max-width: 370px) {
  .dark-blue {
    font-size: 2.6rem;
  }
}

@media screen and (max-width: 576px) {
  .fortyPX {
    font-size: 40px;
  }
}

@media screen and (max-width: 370px) {
  .fortyPX {
    font-size: 32px;
  }
}

/* headers */

.anti-stress {
  background-image: url("/public/anti_stress.jpg");
  background-repeat: no-repeat;
  height: 200%;
  background-attachment: fixed;
  background-position: bottom -300px right -300px; /* Aligns the image to the right */
}

@media (min-width: 768px) and (max-width: 900px) {
  .anti-stress {
    background-image: url("/public/anti_stress.jpg");
    background-repeat: no-repeat;
    height: 200%;
    background-attachment: fixed;
    background-position: bottom -230px right -390px;
  }
}

@media (min-width: 773px) and (max-width: 900px) {
  .anti-stress {
    background-image: url("/public/anti_stress.jpg");
    background-repeat: no-repeat;
    height: 200%;
    background-attachment: fixed;
    background-position: bottom -85px right -390px;
  }
}

@media (min-width: 900px) and (max-width: 990px) and (min-height: 1368px) {
  .anti-stress {
    background-image: url("/public/anti_stress.jpg");
    background-repeat: no-repeat;
    height: auto;
    background-attachment: fixed;
    background-position: bottom 25px right -390px;
  }
}

@media (max-width: 767px) {
  .anti-stress {
    background-image: none;
  }
}

.form-style {
  opacity: 0.9;
  font-family: StavokGrotesqueTRIAL-Light;
  font-size: 1.3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 1rem;
  font-weight: bold;
  font-size: larger;
}

.dropdown-color {
  color: #768fab !important;
}

a.dropdown-item.dropdown-color.active {
  background-color: #e5e9fd;
}

button.dropdown-color.disabled.dropdown-item {
  background-color: #ddd;
  opacity: 0.7;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.1rem;
  font-size: x-large;
  margin-top: 0.7rem;
}
.social-links a {
  color: #021740;
  opacity: 0.9;
  padding: 0.2rem;
}

.add-margin-top {
  margin-top: 4rem;
}

@media (max-width: 570px) {
  .add-margin-top {
    margin-top: 0rem;
  }
}

.new-label::after {
  content: "New";
  color: #fff;
  background-color: #ea4584;
  border-radius: 3px;
  padding: 6px 5px 4px;
  margin-left: 5px;
}

footer.footer {
  margin-top: 2.7rem;
}

div.horizontal-line {
  background-color: #aaa;
  width: 75%;
  height: 1px;
  margin: 0 auto;
  margin-bottom: 2.7rem;
}
