.App {
  text-align: center;
}

/* Global reset */
#root {
  padding: 0;
  margin: 0;
}

.header-float {
  display: flex;
  justify-content: flex-start;
  gap: 50rem;
  padding: 1vh;
  pointer-events: none;
}

.nav-bar {
  opacity: 0.9;
  background-color: #4263eb;
}

.change {
  background-color: #dbe4ff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

h3 {
  margin: 3rem;
  padding: 1vh;
  background-color: #dbe4ff;
  color: #4263eb;
}

.QA {
  margin-left: 5vh;
  margin-right: none;
}

@media (prefers-reduced-motion: no-preference) {
  .header-float {
    animation: header-float-float infinite 4s ease-in-out;
  }
}

@keyframes header-float-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(12px);
  }
  100% {
    transform: translateY(0px);
  }
}

.acc-header {
  font-weight: bold;
}

/* links */

.link-button > a:link {
  text-decoration: none;
  color: #fff;
  font-style: italic;
}

.link-button > a:visited {
  color: #000;
}

.link-button > a:hover {
  color: #4263eb;
}

.app-info {
  background-color: #e5e9fd;
  opacity: 0.8;
  /* border-top: black solid 1px;
  border-left: black solid 1px; */
}

.toast-content {
  color: white;
}
