.main-categorized-card {
  opacity: 0.9;
}
.card-color {
  background-color: #7188e7;
  padding-bottom: 1rem;
}

.card-text-category-1 {
  background-color: #fff;
  padding: 0.5rem;
}

.in-detail {
  padding: 0.8rem;
  padding-left: 1rem;
  background-color: #ffffff;
}

.link-button {
  border: none;
  margin-top: 1rem;
}

.categorized-card {
  background-color: #7188e7;
  color: #fff;
}

.categorized-card-title {
  background-color: #4263eb;
  color: #fff;
}
