.card-color {
  background-color: #7e97fa;
  opacity: 0.9;
}

.card-text-category-1 {
  background-color: #fff;
  padding: 0.3rem;
  margin-bottom: 2rem;
}

.in-detail {
  margin-top: 1rem;
  padding: 0.3rem;
  background-color: #ffffff;
}

.link-button {
  border: none;
  margin-top: 1rem;
}

.categorized-card {
  background-color: #90a5f8;
  color: #fff;
}
