$color-primary: #4263eb;
$color-white: #fff;
$color-card1: #7188e7;
$color-header: #dbe4ff;
$color-black: #000;

.card-color {
  background-color: $color-card1;
}

.card-text-category-1 {
  background-color: $color-white;
  padding: 0.3rem;
  margin-bottom: 2rem;
}

.in-detail {
  margin-top: 1rem;
  padding: 0.3rem;
  background-color: $color-white;
}

.link-button {
  border: none;
  margin-top: 1rem;
}

.categorized-card {
  background-color: $color-card1;
  color: $color-white;
}

.categorized-card-title {
  background-color: $color-primary;
  color: $color-white;
  opacity: 0.9;
}
