.main-categorized-card {
  opacity: 0.9;
}
.card-color {
  background-color: #fff;
  font-family: StavokGrotesqueTRIAL-Light;
}

.card-text-category-1 {
  background-color: #fff;
  padding: 1rem;
}

.in-detail {
  margin-top: 1.2rem;
  padding-left: 1rem;
  font-family: FixelText-Medium;
}

.link-button {
  border: none;
  margin-top: 1rem;
}

.categorized-card {
  background-color: #7188e7;
  color: #fff;
}

.categorized-card-title {
  background-color: #4263eb;
  color: #fff;
}
